.bg {
    background-image: url("https://cn.bing.com//th?id=OHR.PygmySloth_ZH-CN4739853522_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp&PC=EMMX01");
    background-size: cover;
    text-align: center;
    ackground-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
    height: 100vh;
    filter: blur(10px);
.zhezhao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
}
h1, h3 {
    color: #fff;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 25px;
    }
}
