.bg {
    background-color: #1f1f1f;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
}
h3 {
    font-size: xx-large;
    color: white;
}
h1 {
  font-size: 80px;
  background-image: linear-gradient(45deg, #4d688f, #dea7cf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: textGradient 5s linear infinite;
  animation: textGradient 5s linear infinite;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Apple,sans-serif;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        background-image: linear-gradient(45deg, #4d688f, #dea7cf);
    }
    h3 {
        font-size: 30px;
        background-image: linear-gradient(45deg, #4d688f, #dea7cf);
    }
}
